{% extends "base.html" %}

{% block content %}
<section class="hero section">
  <div class="hero-bg"></div>
  <div class="hero-content section">
    <h1>{{ section.title }}</h1>
  </div>
</section>
<section class="section-index faq">
  <div class="container">
    {{ section.content | safe }}
    {% for subsection in section.subsections %}
    {% set faq_category = get_section(path=subsection) %}
    <h2>{{ faq_category.title }}</h2>
    {% for page in faq_category.pages %}
    <article class="faq-item">
      <div class="faq-title">
        <h3>{{ page.title }}</h3>
        <img src="/images/icons/chevron-down.svg">
      </div>

      <div class="faq-content" data-collapsed="true">
        {{ page.content | safe }}
      </div>
    </article>
    {% endfor %}
    {% endfor %}
  </div>
</section>
{% endblock content %}