<!DOCTYPE html>
<html lang="en">

  {% block head %}
    {% include 'partials/head.html' %}
  {% endblock %}

<body>
  {% block header %}
    {% include 'partials/header.html' %}
  {% endblock %}
  <main>

    {% if current_path =="/" %}
      {% block hero %}
        {% include 'partials/home-hero.html' %}
      {% endblock %}
    
      {% block features %}
        {% include 'partials/features.html' %}
      {% endblock %}
    
      {% block community %}
        {% include 'partials/community.html' %}
      {% endblock %}
    {% endif %}

    {% block content %}
    {% endblock %}
  </main>
  {% block footer %}
    {% include 'partials/footer.html' %}
  {% endblock %}

  <script src="{{ get_url(path="js/main.js", trailing_slash=false) }}"></script>
</body>
</html>