{% extends "base.html" %}

{% block content %}
  <section class="hero section">
    <div class="hero-bg"></div>
    <div class="hero-content section">
      <h1>{{ section.title }}</h1>
    </div>
  </section>
  <section class="section-index">
    <div class="container">
      {% for page in section.pages %}
      <article class="blog-entry">
      <h2><a href="{{ page.path | safe }}" {% if page.new_tab %}target="_blank" rel="noreferrer noopener" {% endif %}>{{page.title }}</a>
      </h2>
      <ul class="entry-info">
        <li>By {{ page.extra.author }}</li>
        {% if section.title == "Guides" %}
          <li>Last Update: {{ page.updated |  date(format="%B %e, %Y") }}</li>
        {% else %}
          <li>{{ page.date |  date(format="%B %e, %Y") }}</li>
        {% endif %}
      </ul>
    </article>
      {% endfor %}
    </div>
  </section>
{% endblock content %}